@using eTickets.Data
@using eTickets.Models
@inject UserManager<ApplicationUser> UserManager
@{
    var contactUsMessages = ViewBag.ContactUsMessages as IEnumerable<ContactUs> ?? Enumerable.Empty<ContactUs>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/stylle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/darkmode.css" />
    <!-- Vendor CSS Files -->
    <link href="~/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/NiceAdmin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/NiceAdmin/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a asp-action="Dashboard" asp-controller="Account" style="text-decoration:none;" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">Admin Panel</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <div class="search-bar">
            <form class="search-form d-flex align-items-center" asp-controller="Cinemas" asp-action="Filter">
                <input type="text" name="searchString" placeholder="Search" title="Enter search keyword" aria-label="Search">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">@contactUsMessages.Count()</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have @contactUsMessages.Count() new messages
                            <a asp-controller="Account" asp-action="Messages"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        @foreach (var message in contactUsMessages.Take(5)) // Display top 5 messages
                        {
                            <li class="message-item">
                                <a href="#" style="text-decoration:none">
                                    @if (message.User != null && !string.IsNullOrEmpty(message.User.ProfileImageUrl))
                                    {

                                        <img src="@Url.Content(message.User.ProfileImageUrl)" style="width:40px;height:40px" alt="" class="rounded-circle">
                                    }
                                    else
                                    {
                                        <i style="width:40px;height:40px" class="rounded-circle bi bi-person-badge"></i>
                                    }
                                    <div>
                                        <h4>@message.FullName</h4>
                                        <p>@message.Message</p>
                                        <p>@message.CreatedAt.ToString("g")</p>
                                    </div>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                        }

                    </ul>
                </li>
                <li class="nav-item dropdown pe-3">
                    @{
                        var user = UserManager.GetUserAsync(User).Result;
                        var profilePictureUrl = user?.ProfileImageUrl;
                    }
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                        @if (!string.IsNullOrEmpty(profilePictureUrl))
                        {
                            <img src="@profilePictureUrl" alt="Profile" class="rounded-circle" style="width:40px;height:40px;">
                        }
                        else
                        {
                            <i class="bi bi-person-badge"></i>
                        }
                        <span class="d-none d-md-block dropdown-toggle ps-2">Hello! @UserManager.GetUserName(User)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@UserManager.GetUserName(User)</h6>
                            <span>Admin</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Account" asp-action="Profile">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                <button type="submit" class="dropdown-item d-flex align-items-center">
                                    <i class="bi bi-box-arrow-right"></i> Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Dashboard", "Account")">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Movies")">
                    <i class="bi bi-film"></i>
                    <span>Manage Movies</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Cinemas")">
                    <i class="bi bi-camera-reels"></i>
                    <span>Manage Cinemas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Governs")">
                    <i class="bi bi-globe"></i>
                    <span>Manage Governorates</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Producers")">
                    <i class="bi bi-headset"></i>
                    <span>Manage Producers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Actors")">
                    <i class="bi bi-person-square"></i>
                    <span>Manage Actors</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Orders")">
                    <i class="bi bi-cart"></i>
                    <span>Manage Orders</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Users", "Account")">
                    <i class="bi bi-people-fill"></i>
                    <span>Manage Users</span>
                </a>
            </li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main id="main" class="main pb-7 pt-4">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; @DateTime.Now.Year <strong><span>eTickets</span></strong>. All Rights Reserved
        </div>
    </footer>
    <script>
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Vendor JS Files -->
    <script src="~/NiceAdmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/NiceAdmin/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/NiceAdmin/assets/vendor/php-email-form/validate.js"></script>

    <!-- Main JS File -->
    <script src="~/NiceAdmin/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
