@model Actor

@{
    ViewData["Title"] = "Details of the Actor";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Card for displaying actor details -->
            <div class="card shadow-lg border-light">
                <div class="card-header text-center">
                    <h3 class="mb-0">@Model.FullName</h3>
                </div>
                <div class="card-body text-center">
                    <!-- Display the profile picture -->
                    <img id="ProfilePicturePreview" class="img-fluid rounded-circle border" style="width: 150px; height: 150px; object-fit: cover;" alt="Profile Picture" />

                    <!-- Full Name -->
                    <div class="mt-3">
                        <h5 class="card-title">Full Name</h5>
                        <p class="card-text">@Model.FullName</p>
                    </div>

                    <!-- Bio -->
                    <div class="mt-3">
                        <h5 class="card-title">Bio</h5>
                        <p class="card-text">@Model.Bio</p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))

                    {
                        <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Show All</a>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            var profilePictureUrl = "@Model.ProfilePictureURL";
            if (profilePictureUrl) {
                output.src = profilePictureUrl;
            }
        });
    </script>
}
