@model IEnumerable<Govern>

@{
    ViewData["Title"] = "List of Governorates";
}

<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)

        {
                        
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <a style="text-decoration:none;" asp-controller="Governs" asp-action="Detail" asp-route-id="@item.Id">
                            <h5 class="card-title">@item.Name
                                @if (User.IsInRole("Admin"))
                                {
                                    <span class="badge bg-primary ms-2">Admin</span>
                                }
                            </h5>
                            <p class="card-text">
                                Details about @item.Name.
                            </p>
                        </a>
                        @if (User.IsInRole("Admin"))

                        {
                            <div class="mt-2">
                                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye"></i> Details
                                </a>
                                <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>

                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal for Create/Edit -->
@await Html.PartialAsync("_CreateItem", "Governs")
